body {
    font-family:monospace;
    text-align: center;
}
#title {
    font-family: fantasy;
    font-weight: bold;
}
h2 {
    background-color: black;
    color:olivedrab
}
.links {
    font-family: fantasy;
    font-size: larger;
}